<script type="text/javascript">
function loadData() 
{	
	ajaxCall2("/data/dates_list", {}, loadDataCB);
}

function loadDataCB(sentData, retData) 
{	
	var cnt = $("#data-cnt");
	clearContent(cnt);
	
	$.each(retData.data, function(index, item) {
		var i = createFromTemplate(cnt);
		i.data("data", item);
		$("span[name=data]", i).text(formatDate(item.date));
    if (item.status == 0){
  		$("span[name=testo]", i).text("Nessuna immagine");
    }
    else if (item.status == 1){
  		$("span[name=testo]", i).text("Immagini da lavorare");
    }
    setVisible($("button[name=bt1]", i).closest("div"), true);
    setVisible($("button[name=bt2]", i).closest("div"), item.status == 1);
    setVisible($("button[name=bt3]", i).closest("div"), item.status == 0);
    setVisible($("button[name=bt4]", i).closest("div"), item.status == 0);

    $("button", i).on("click", onButtonClick);
	});	
  
}

function formatDate(d) 
{
	var ret = "";
	var d1 = d.split("-");
	var d2 = new Date(parseInt(d.substr(0, 4), 10), parseInt(d.substr(4, 2), 10) - 1, parseInt(d.substr(6, 2), 10), 0, 0, 0);
	
	return Date.Format(d2, "dddd dd/mm");		
}

function onButtonClick() {
  var div = $(this).closest("div.data");
  var item = div.data("data");

  alert(formatDate(item.date) + "\n" + $(this).text());
}

$(function() {
  loadData();
});
</script>
<div page="main">
  <div id="data-cnt" class="eventi" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; ">
    <div class="template data" style="flex-grow: 1.5; ">
      <span name="data" style="font-weight: bold; "></span>
      <br/>
      <span name="testo" style="font-style: italic; font-size: 10pt; "></span> 
      <br/>
      <div><button name="bt1">Aggiungi immagini</button><br/></div>
      <div><button name="bt2">Visualizza le immagini</button><br/></div>
      <div><button name="bt3">Giorno non lavorativo</button><br/></div>
      <div><button name="bt4">Nessuna immagine per questo giorno</button><br/></div>
    </div>
  </div>
</div>