<script type="text/javascript">
var currentDate;

function loadData() 
{	
	ajaxCall2("/data/dates_list", {}, loadDataCB);
}

function loadDataCB(sentData, retData) 
{	
	var cnt = $("#data-cnt");
	clearContent(cnt);
	
	$.each(retData.data, function(index, item) {
		var i = createFromTemplate(cnt);
		i.data("data", item);
		$("span[name=data]", i).text(formatDate(item.date));
    if (item.status == 0){
  		$("span[name=testo]", i).text("Nessuna immagine");
    }
    else if (item.status == 1){
  		$("span[name=testo]", i).text("Immagini da lavorare");
    }
    setVisible($("button[name=bt1]", i).closest("div"), true);
    setVisible($("button[name=bt2]", i).closest("div"), item.status == 1);
    setVisible($("button[name=bt3]", i).closest("div"), item.status == 0);
    setVisible($("button[name=bt4]", i).closest("div"), item.status == 0);

    $("button", i).on("click", onButtonClick);
    $(i).on("click", onDateClick);
	});	
  
  showPage("main")
}

function formatDate(d) 
{
	var ret = "";
	var d1 = d.split("-");
	var d2 = new Date(parseInt(d.substr(0, 4), 10), parseInt(d.substr(4, 2), 10) - 1, parseInt(d.substr(6, 2), 10), 0, 0, 0);
	
	return Date.Format(d2, "dddd dd/mm");		
}

function onButtonClick() {
  var div = $(this).closest("div.data");
  var item = div.data("data");

  $(this).toggleClass("open");

  if ($(this).attr("name") == "bt1"){
    showShoot(item.date);
  }
  else if ($(this).attr("name") == "bt2"){
    showPictures(item.date);
  }
  else {
    alert(formatDate(item.date) + "\n" + $(this).text());
  }
}

function onDateClick() {
  if ($(this).is(".open"))
  {
    $(this).removeClass("open");
  }
  else {
    $("div.data.open", "div[page=main]").removeClass("open");
    $(this).toggleClass("open");
  }
}

function showPictures(dt){
  currentDate = dt;
  showPage("pictures");
  $("span[name=date]", "div[page=pictures]").text(formatDate(currentDate));
}

function showShoot(dt){
  currentDate = dt;
  showPage("shoot");
  $("span[name=date]", "div[page=shoot]").text(formatDate(currentDate));
}

function showPage(page) {
  $("div[page]").each((index, element) => {
    if ($(element).attr("page") != page){
      $(element).hide();
    }
  })
  $("div[page='" + page +"']").show();
}

$(function() {
  $("a[name=home]", "div[page=pictures]").on("click", () => showPage("main"))
  $("a[name=shoot]", "div[page=pictures]").on("click", () => showPage("shoot"))
  $("a[name=home]", "div[page=shoot]").on("click", () => showPage("main"))
  $("a[name=pictures]", "div[page=shoot]").on("click", () => showPage("pictures"))

  loadData();
  showPage("loading")
});
</script>
<div page="loading" style="text-align: center; padding: 20px; ">
  <h3>Avvio applicazione...</h3>
</div>
<div page="main">
  <div id="data-cnt" class="eventi" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; ">
    <div class="template data" style="flex-grow: 1.5; ">
      <span name="data" style="font-weight: bold; "></span>
      <br/>
      <span name="testo" style="font-style: italic; font-size: 10pt; "></span> 
      <br/>
      <div><button name="bt1">Aggiungi immagini</button><br/></div>
      <div><button name="bt2">Visualizza le immagini</button><br/></div>
      <div><button name="bt3">Giorno non lavorativo</button><br/></div>
      <div><button name="bt4">Nessuna immagine per questo giorno</button><br/></div>
    </div>
  </div>
</div>
<div page="pictures" style="margin: 10px; ">
  Data: <span name="date"></span> <a name="home" href="javascript: void(0);">Home</a> <a name="shoot" href="javascript: void(0);">Scatta una foto</a>
  <hr/>
  <div name="pictures-cnt">Immagini</div>
</div>
<div page="shoot" style="margin: 10px; ">
  Data: <span name="date"></span> <a name="home" href="javascript: void(0);">Home</a> <a name="pictures" href="javascript: void(0);">Immagini</a>
  <hr/>
  <div name="pictures-cnt">Shoot</div>
</div>