<script type="text/javascript">
var app = (() => {
  function showPage(page) {
    $("div[page]").each((index, element) => {
      if ($(element).attr("page") != page){
        $(element).hide();
      }
    })
    $("div[page='" + page +"']").show();
  }

  function formatDate(d) 
  {
    var ret = "";
    var d2 = new Date(parseInt(d.substr(0, 4), 10), parseInt(d.substr(4, 2), 10) - 1, parseInt(d.substr(6, 2), 10), 0, 0, 0);
    
    return Date.Format(d2, "dddd dd/mm");		
  }

  return {
    showPage: showPage,
    formatDate: formatDate
  }

})();

var main = (() => {
  var page;
  var selectedDate = null;
  var displayAll = false;

  function init() {
    page = $("div[page=main]");

    $('input[name="view"]', page).checkboxpicker({
      offLabel:'aperte',
      onLabel:'tutte',
      offTitle:false,
      onTitle:false,
    });

    $('input[name="view"]', page).on('change', function() {
      setDisplay($('input[name="view"]', page).prop('checked'))
    });

  }

  function setDisplay(all){
    displayAll = all;

    loadData(true);
  }

  function show(bLoadData) {
    if (bLoadData) {
      loadData(); 
    }
    else {
      app.showPage("main");
    }
  }

  function loadData() 
  {	
    $.LoadingOverlay("show");
    ajaxCall2("/data/dates_list", {opt: displayAll ? 1 : 0}, loadDataCB);
  }

  function loadDataCB(sentData, retData) 
  {	
    $.LoadingOverlay("hide");

    var cnt = $("div[name=data-cnt]");
    clearContent(cnt);
    
    $.each(retData.data, function(index, item) {
      var i = createFromTemplate(cnt);
      i.data("data", item);
      $("span[name=data]", i).text(app.formatDate(item.date));
      if (item.status == 0){
        $("span[name=testo]", i).text("Nessuna immagine caricata");
      }
      else if (item.status == 1){
        $("span[name=testo]", i).text(`${item.openPictures} immagini da lavorare su ${item.totalPictures}`);
      }
      else if (item.status == 2){
        $("span[name=testo]", i).text(`Completato, ${item.totalPictures} immagini`);
      }
      else if (item.status == 3){
        $("span[name=testo]", i).text("Giorno non lavorativo");
      }
      else if (item.status == 4){
        $("span[name=testo]", i).text("Nessuna immagine");
      }

      $("label[name=bt1]", i).attr("for", "file" + index);
      $("input[name=file]", i).attr("id", "file" + index);

      setVisible($("label[name=bt1]", i).closest("div"), item.status == 0 || item.status == 1);
      setVisible($("label[name=bt2]", i).closest("div"), item.status == 1 || item.status == 2);
      setVisible($("label[name=bt5]", i).closest("div"), item.status == 1 && item.openPictures == item.totalPictures);
      setVisible($("label[name=bt3]", i).closest("div"), item.status == 0);
      setVisible($("label[name=bt4]", i).closest("div"), item.status == 0);

      $("input[name=file]", i).on("change", fileChange)
      $("label", i).on("click", onButtonClick);
      $(i).on("click", onDateClick);
    });	
    
    app.showPage("main")
  }


  function onButtonClick(event) {
    event.stopPropagation();

    const div = $(this).closest("div.data");
    const item = div.data("data");

    selectedDate = item.date;

    $(this).toggleClass("open");

    const name = $(this).attr("name");

    if (name == "bt1"){
      //showShoot(item.date);
    }
    else if (name == "bt2"){
      pictures.show(item.date);
    }
    else if (name == "bt3"){
      if (confirm("Questa data non sarà più modificabile dopo l'operazione\nConfermi?"))
      {
        fetch("/data/add_not_working_day", {
          method:'POST',
          body:new URLSearchParams({ 'date': selectedDate })
          })
        .then(res => {
            if (res.ok) 
                div.remove();
            else 
                alert(res.text());
            })
        .catch(err => alert(err.message))
      }
    }
    else if (name == "bt4"){
      if (confirm("Questa data non sarà più modificabile dopo l'operazione\nConfermi?"))
      {
        fetch("/data/add_empty_day", {
          method:'POST',
          body:new URLSearchParams({ 'date': selectedDate })
          })
        .then(res => {
            if (res.ok) 
                div.remove();
            else 
                alert(res.text());
            })
        .catch(err => alert(err.message))
      }
    }
    else if (name == "bt5"){
      if (confirm("Questa data non sarà più modificabile dopo l'operazione\nConfermi?"))
      {
        fetch("/data/set_day_done", {
          method:'POST',
          body:new URLSearchParams({ 'date': selectedDate })
          })
        .then(res => {
            if (res.ok) 
                div.remove();
            else 
                alert(res.text());
            })
        .catch(err => alert(err.message))
      }
    }
    else {
      alert(app.formatDate(item.date) + "\n" + $(this).text());
    }
  }

  function onDateClick() {
    if ($(this).is(".open"))
    {
      $(this).removeClass("open");
    }
    else {
      $("div.data.open", "div[page=main]").removeClass("open");
      $(this).toggleClass("open");
    }
  }

  function fileChange(ev) 
  {
    $.LoadingOverlay("show");

    const form = new FormData();
    form.append("date", selectedDate);
    form.append("file", ev.target.files[0])
    fetch("data/add_picture", {
      method:'POST',
      body:form,
    }, )
    .then(res => {
       $.LoadingOverlay("hide");
        ev.target.value = "";
        if (res.ok) 
            pictures.show(selectedDate);
        else 
            alert(res.text());
        })
    .catch(err => {
      $.LoadingOverlay("hide");
      alert(err);
    })
  }

  return {
    init: init,
    show: show
  }
})();

var pictures = (() => {

  var currentDate;
  var displayAll = false;
  var page;
  var receivedData;

  function init() {
    page = $("div[page=pictures]");

    $("a[name=home]", page).on("click", () => main.show(true))
    $("#file1").on("change", fileChange);

    $('input[name="view"]', page).checkboxpicker({
      offLabel:'da gestire',
      onLabel:'tutte',
      offTitle:false,
      onTitle:false,
    });

    $('input[name="view"]', page).on('change', function() {
      displayAll = !$('input[name="view"]', page).prop('checked');
      displayPictures();
    });

  }

  function show(dt) {
    currentDate = dt;
    $("span[name=date]", page).text(app.formatDate(currentDate));
    $("label[name=upload]", page).hide();
    $("div[name=opt-view]", page).hide();

    loadData();
  }

  function loadData() 
  {	
    //TODO: sistemare questa opzione in base ad un toggle come sulla main
    // può convenire caricare tutte le immagini e poi visualizzarle in base allo status dell'immagine, lo status del giorno e la selezione dell'utente
    ajaxCall2("/data/pictures_list", {date: currentDate}, loadDataCB);
  }

  function loadDataCB(sentData, retData) 
  {	
    receivedData = retData.data;

    displayPictures();

    const isEditable = retData.data.day.status == 0 || retData.data.day.status == 1;
    if (!isEditable) displayAll = true;

    setVisible($("label[name=upload]", page), isEditable);
    setVisible($("div[name=opt-view]", page), isEditable);

    app.showPage("pictures")
  }

  function displayPictures() 
  {
    var cntPics = $("div[name=pictures-cnt]", page);
    clearContent(cntPics);
    
    const isEditable = receivedData.day.status == 0 || receivedData.day.status == 1;
    if (!isEditable) displayAll = true;

    $.each(receivedData.pictures, function(index, item) {
      if (displayAll || item.status == 0) {
        var i = createFromTemplate(cntPics);
        i.data("data", item);
        $("img", i).attr("src", `https://${receivedData.day.accountName}.blob.core.windows.net/${receivedData.day.containerName}/${item.name}`);

        if (!isEditable || item.status != 0)
          $("button[name=done]", i).hide();
        else
          $("button[name=done]", i).on("click", onDoneClick);        
      }
    });	
  }

  function fileChange(ev) 
  {
    $.LoadingOverlay("show");

    const form = new FormData();
    form.append("date", currentDate);
    form.append("file", ev.target.files[0])
    fetch("data/add_picture", {
      method:'POST',
      body:form,
    }, )
    .then(res => {
       $.LoadingOverlay("hide");
        ev.target.value = "";
        if (res.ok) 
            loadData();
        else 
            alert(res.text());
        })
    .catch(err => {
      $.LoadingOverlay("hide");
      alert(err);
    })
  }

  function onDoneClick() {
    var item = $(this.closest(".item"));
    var data = item.data("data");

    fetch("/data/set_picture_done", {
      method:'POST',
      body:new URLSearchParams({
        'date': currentDate,
        'name': data.name
    })})
    .then(res => {
        if (res.ok) 
        {
          //TODO: aggiornare i dati locali, aggiornare l'item di conseguenza (dipende dalla visualizzazione corrente)
            item.hide();
        }
        else 
            alert(res.text());
        })
    .catch(err => alert(err.message))
  }

  return {
    init: init,
    show: show
  }
})();

$(function() {
  main.init();
  pictures.init();

  main.show(true);
});

</script>

<div page="main" style="margin: 2px; display: none; ">
  <div style="padding: 10px; ">
    <span style="font-size: 14pt; font-weight: bold; ">Date visualizzate&nbsp;&nbsp;</span>
    <input type="checkbox" id="opt-all" name="view">
  </div>
  <div name="data-cnt" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; ">
    <div class="template data" style="flex-grow: 1.5; ">
      <span name="data" style="font-weight: bold; "></span>
      <br/>
      <span name="testo" style="font-style: italic; font-size: 10pt; "></span> 
      <br/>
      <div>
        <input type="file" name="file" id="file2" class="hiddeninputfile" accept="image/*"/>
        <label for="file2" class="button" name="bt1">Aggiungi una foto</label>
      </div>
      <div><label class="button" name="bt2">Visualizza le immagini</label><br/></div>
      {{#if isAdmin}}
      <div><label class="button" name="bt5">Giorno completato</label><br/></div>
      <div><label class="button" name="bt3">Giorno non lavorativo</label><br/></div>
      <div><label class="button" name="bt4">Nessuna immagine per questo giorno</label><br/>
       {{/if}}  
       </div>
    </div>
  </div>
</div>

<div page="pictures" style="margin: 10px; display: none; ">
  <span name="date" style="font-weight: bold; font-size: 12pt; "></span>
  <span>&nbsp;&nbsp; <a name="home" href="javascript: void(0);">[Home]</a></span>
  <span>&nbsp;&nbsp;<input type="file" name="file" id="file1" class="hiddeninputfile" accept="image/*"/>
  <label for="file1" class="link" name="upload">[Aggiungi una foto]</label></span>
  <hr/>
  <div name="opt-view" style="padding: 10px; ">
    <span style="font-size: 14pt; font-weight: bold; ">Immagini visualizzate&nbsp;&nbsp;</span>
    <input type="checkbox" id="opt-all" name="view">
  </div>
  <div name="pictures-cnt" style="text-align: center; ">
    <div class="template item">
      <img style="width:250px;">
      <br/>
      {{#if isAdmin}}
      <button name="done" style="font-weight: bold; font-size: 12pt; width:250px; padding: 5px; border-radius: 7px; background-color: #FFFFFF; ">Gestita</button>
      <br/>
      {{/if}}
      <br/>  
    </div>
  </div>
</div>
