{{#if message}}
  <div style="padding: 20px; font-size: 16pt; font-weight: bold; color: red; ">
    {{ this.message }}
  </div>
 {{/if}}  
<div style="padding: 20px; ">
  <form action="/login" method="post">
  Password: <input name="pass" type="password"><br/><br/>
  <input type="submit" text="Login"></form>
</div>