{{#if message}}
  <div style="padding: 20px; font-size: 16pt; font-weight: bold; color: red; ">
    {{ this.message }}
  </div>
 {{/if}}  
<div style="padding: 40px; ">
  <form action="/login" method="post">
  <span style="font-size: 18pt; ">Password:</span> <input name="pass" type="password" style="font-size: 18pt; "><br/><br/>
  <input type="submit" text="Login" style="font-size: 18pt; font-weight: bold; padding: 10px 20px; margin: 5px; border-radius: 7px;"></form>
</div>