body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-azure-blue {
  color: #0078D4
}

.bg-azure-light-gray {
  background-color: #EBEBEB;
}

div.data {
  float: left; 
  max-width: 320px; 
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 10px; 
  margin: 10px; 
  font-size: 12pt;
  background-color: #EEEEEE; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  overflow: hidden;
  transition: height 0.5s;
}

div.data.open {
  height: 220px;
}

div.data button {
  width: 90%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  margin: 5px; 
  border-radius: 7px;
  background-color: #FFFFFF; 
}

.hiddeninputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.hiddeninputfile + label.link {
  color: #00B7FF;
  display: inline-block;
}

label.button {
  display: inline-block;
  padding: 10px;
  border: 2px solid black;
  width: 90%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  margin: 5px; 
  border-radius: 7px;
  background-color: #FFFFFF; 
}

.template {display: none; }
